main .carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .carrito p {
  font-size: 35px;
}
main .carrito .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .carrito .cart .hidden {
  display: none;
}
main .carrito .cart button {
  margin-right: 10px;
  background-color: black;
  border-radius: 50px;
  color: white;
}
main .carrito .cart button:hover {
  background-color: #6d6d6d;
}
main .carrito .cart img {
  width: 35px;
}
main .carrito .cart p {
  margin: 5px;
  font-size: 20px;
}
main .catalogo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .catalogo-box .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  padding: 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border: 2px solid #000000;
}
main .catalogo-box .product input {
  margin: 5px;
  width: 30px;
}
main .catalogo-box .product img {
  margin: 5px;
  height: 125px;
  width: 150px;
}
main .catalogo-box .product p {
  font-size: 25px;
}
main .catalogo-box .product button {
  background-color: black;
  border-radius: 50px;
  color: white;
}
main .catalogo-box .product button:hover {
  background-color: #6d6d6d;
}