@import "reset.css";
body {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  max-width: 1280px;
  margin: auto;
  line-height: 25px;
}

header {
  padding-top: 30px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
header .nav-links .nav-item {
  margin-left: 43px;
}
header .nav-links .nav-item .nav-link {
  color: black;
  font-weight: 500;
  text-decoration: none;
}
header .nav-links .black-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70%;
  background-color: black;
  padding: 5px 25px 5px 10px;
  border-radius: 5px;
  width: 130px;
}
header .nav-links .black-box .nav-link {
  color: white;
}

.home {
  padding-top: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
}
.home .hero {
  position: relative;
  text-align: center;
}
.home .hero img {
  width: 100%;
  display: block;
  margin: 1rem auto;
}
.home .hero .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 766px;
  height: 130px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(5, 0, 0, 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .hero .box h1 {
  font-weight: 300;
  color: white;
  font-size: 72px;
}
.home .products {
  margin-top: 60px;
  width: 100%;
  height: auto;
}
.home .products .product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home .products .product-box .title {
  font-size: 30px;
  width: 30%;
  line-height: 40px;
}
.home .products .product-box .subtitle {
  font-size: 16px;
  width: 70%;
}
.home .products .product-box .image-box {
  padding-top: 50px;
  max-height: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home .products .product-box .image-box .right {
  width: 50%;
}
.home .products .product-box .image-box .left {
  width: 50%;
}
.home .products .product-box .image-box img {
  max-width: 310px;
  width: 100%;
}
.home .products .product-box .image-box .doble {
  max-width: 630px;
  width: 100%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.home .clients {
  padding-top: 60px;
  width: 100%;
  height: auto;
}
.home .clients h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
}
.home .clients .container {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .clients .container .feedback-box {
  height: 100%;
  max-width: 635px;
  border-radius: 5px;
  width: 49%;
  background-color: black;
  margin: 10px 0px;
  color: white;
}
.home .clients .container .feedback-box .feedback {
  padding: 70px 35px 50px 35px;
}
.home .clients .container .feedback-box .feedback .bold {
  font-weight: 700;
  background-color: black;
  color: white;
}
.home .clients .container .feedback-box .profile {
  padding: 0px 35px 35px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .clients .container .feedback-box .profile img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.home .clients .container .feedback-box .profile .data {
  margin-left: 30px;
}
.home .clients .container .feedback-box .profile .data .name {
  margin-bottom: 5px;
}
.home .clients .container .feedback-box .profile .data .location {
  color: #999999;
  font-size: 11px;
}

footer {
  padding-top: 125px;
  padding-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.6fr 1fr 1fr;
  grid-template-columns: 1.6fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

footer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

footer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .copyright img {
  width: 100px;
}
footer .copyright .copy {
  padding-left: 40px;
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18px;
}
footer .social a {
  padding: 5px;
}
footer .by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
footer .by .desing {
  padding-right: 5px;
}

@media (max-width: 767px) {
  body {
    max-width: 767px;
    margin: auto;
    line-height: 25px;
  }

  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding-top: 30px;
  }
  header .nav-links .black-box {
    width: auto;
  }
  header .nav-links .nav-item {
    margin-left: 20px;
  }
  header .hidden {
    display: none;
  }

  .home .hero img {
    margin: 0px;
  }
  .home .hero .box {
    max-width: 255px;
    height: 45px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .hero .box h1 {
    font-size: 24px;
  }
  .home .products .product-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 15px 0px 30px;
  }
  .home .products .product-box .title {
    width: 70%;
    padding-bottom: 25px;
  }
  .home .products .product-box .subtitle {
    width: 90%;
  }
  .home .products .product-box .image-box {
    padding-top: 50px;
    width: 100%;
    max-height: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home .products .product-box .image-box .right {
    width: 100%;
  }
  .home .products .product-box .image-box .left {
    width: 100%;
  }
  .home .products .product-box .image-box img {
    width: 45%;
  }
  .home .products .product-box .image-box .doble {
    width: 100%;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .home .clients h2 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 30px;
  }
  .home .clients .container {
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .clients .container .feedback-box {
    height: 100%;
    width: 90%;
    border-radius: 5px;
    background-color: black;
    margin: 10px 20px 10px 20px;
    color: white;
  }
  .home .clients .container .feedback-box .feedback {
    width: 80%;
    padding: 65px 35px 50px 35px;
  }
  .home .clients .container .feedback-box .feedback .bold {
    font-weight: 700;
    background-color: black;
    color: white;
  }
  .home .clients .container .feedback-box .profile {
    padding: 0px 35px 35px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-weight: 300;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .clients .container .feedback-box .profile img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }
  .home .clients .container .feedback-box .profile .data {
    margin-left: 30px;
  }
  .home .clients .container .feedback-box .profile .data .name {
    margin-bottom: 5px;
  }
  .home .clients .container .feedback-box .profile .data .location {
    color: #999999;
    font-size: 11px;
  }

  footer {
    padding-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
  }
  footer .copyright .copy {
    padding: 0;
  }
  footer .social {
    height: auto;
    margin-bottom: 15px;
  }
  footer .by {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-bottom: 15px;
  }
}